{% layout "none" %}
{% contenttype "application/xml" %}
<rss version="2.0">
  <channel>
    <title>{{ global.title }}</title>
    <link>{{ global.domain }}</link>
    <description>{{ global.intro }}</description>
    <language>en</language>
    <webMaster>{{ global.email }}</webMaster>
    <copyright>{{ 'now' | date: "%Y" }} Christopher Azar</copyright>
    <pubDate>{{ item.date | date:'%a, %d %b %Y %H:%M:%S GMT'}}</pubDate>
    <lastBuildDate>Thu, 06 Jun 2013 12:17:05 GMT</lastBuildDate>
    {% collection "blog" by 10 order desc %}
      {% for item in collection.items %}
      <item>
        <title>{{ item.title | html_encode }}</title>
        <link>{{ item.slug }}</link>
        <guid>{{ item.slug }}</guid>
        {% for category in item.categories %}
          <category>{{ category | html_encode }}</category>
        {% endfor %}
        <pubDate>{{ item.date | date:'%a, %d %b %Y %H:%M:%S GMT'}}</pubDate>
        <description>{{ item.body | strip_html | truncate:1000,'...' | html_encode }}</description>
      </item>
     {% endfor %}
   {% endcollection %}
  </channel>
</rss>